<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Sistema de Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sistema de Atividades</h1>
        
        <nav>
            <a th:href="@{/cadastrarAtividade}">Cadastrar</a> |
            <a th:href="@{/listarAtividade}">Listagem</a>
        </nav>
        
        
    </body>
</html>